@model Person
@{
    ViewData["Title"] = "Contact";
    ViewData["currentTab"] = "Bioscoop";
}

<div class="page-content">
    <h1>Contact</h1>
    <h3>Heeft u een vraag, opmerking of klacht laat het ons weten!</h3><br />
    <form method="post">
        <div class="form-group">
            <div class="form-info">
                @Html.LabelFor(m=>m.Voornaam)
            </div>
            @Html.TextBoxFor(m=>m.Voornaam)
            @Html.ValidationMessageFor(m=>m.Voornaam)
        </div>

         <div class="form-group">
            <div class="form-info">
                @Html.LabelFor(m=>m.Achternaam)
            </div>
            @Html.TextBoxFor(m=>m.Achternaam)
            @Html.ValidationMessageFor(m=>m.Achternaam)
        </div>

         <div class="form-group">
            <div class="form-info">
                @Html.LabelFor(m=>m.Email)
            </div>
            @Html.TextBoxFor(m=>m.Email)
            @Html.ValidationMessageFor(m=>m.Email)
        </div>

         <div class="form-group">
            <div class="form-info">
                @Html.LabelFor(m=>m.Telefoon)
            </div>
            @Html.TextBoxFor(m=>m.Telefoon)
            @Html.ValidationMessageFor(m=>m.Telefoon)
        </div>

         <div class="form-group" style="width:98.5%;" id="form-bericht">
           <div class="form-info">
                @Html.LabelFor(m=>m.Bericht)
            </div>
            @Html.TextBoxFor(m=>m.Bericht)
            @Html.ValidationMessageFor(m=>m.Bericht)
        </div>
        <div class="form-submit">
            <input type= "submit" value= "Verzenden" />
        </div>
    </form>

</div>