@using CinemaBioscoop.Database
@model MovieDetail

@{
    ViewData["Title"] = @Model.Film.Naam;
    ViewData["currentTab"] = "films";
}

<body>
<div class="page-content">
    <div class="video">
        <iframe width="1320" height="700" src="@Model.Film.Trailer" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="detaillinks">
        <div class="poster">
            <img src="@Model.Film.Poster">
        </div>
        <div class="kijkwijzer">
            <img src="@Model.Kijkwijzer.Image" style="margin-left: 5px;">
            <img src="/@Model.Film.Kijkwijzer2"/>
            <img src="/@Model.Film.Kijkwijzer3"/>
            <img src="/@Model.Film.Kijkwijzer4"/>
        </div>
        <div class="categorie">
            <h3>@Model.Film.Categorie1</h3>
            <h3>@Model.Film.Categorie2</h3>
        </div>
    </div>
    <div class="detailmidden">
        <h1>@Model.Film.Naam</h1><br>
        <h3>@Model.Film.Omschrijving</h3><br>
    
        <table>
            <tr>
                <th>Regisseur</th>
                <td>@Model.Regisseur.Voornaam @Model.Regisseur.Achternaam</td>
            </tr>
            <tr>
                <th>Cast</th>
                <td>@Model.Film.Cast</td>
            </tr>
        </table>

    </div>
    <div class="detailrechts">        
        <a href="/bestellen" class="bestellen">Tickets bestellen</a> <br><br>
        <table>
            <tr>
                <th style="font-size: 16px; width: 300px;">Release</th>
                <td style="font-size: 13px;">@Model.Film.Release</td>
            </tr>
            <tr>
                <th style="font-size: 16px; width: 300px;">Speelduur</th>
                <td style="font-size: 13px;">@Model.Film.Speelduur</td>
            </tr>
            <tr>
                <th style="font-size: 16px; width: 300px;">Gesproken taal</th>
                <td style="font-size: 13px;">@Model.Film.Taal</td>
            </tr>
            <tr>
                <th style="font-size: 16px; width: 300px;">Ondertiteling</th>
                <td style="font-size: 13px;">@Model.Film.Ondertiteling</td>
            </tr>
        </table>
    </div>
</div>
</body>
}