@using CinemaBioscoop.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";
    ViewData["currentTab"] = "home";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/flickity.css" />
</head>

  <body>
    <div class="page-content">
       
        <div class="slideshow-container">
	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_NIEUWE_Maatregelen_Covid_Update_25-01-2022.jpg">
	        </div>

	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/1.WEBSITE2022/02.%20CARROUSEL/Mobile_web_banner_We_Zijn_Open_en_Filmtitels_Update_25-01-2022.jpg">
	        </div>

	        <div class="mySlides fade">
  		        <img src="https://www.vuecinemas.nl/userfiles/2.WEBSITE2021/CARROUSEL/Headline_Carrousel_web_banner_kom_ons_team_versterken.jpg">
	        </div>
        </div>

        <div class= "stippen">
          <span class="dot"></span> 
          <span class="dot"></span> 
          <span class="dot"></span> 
        </div> <br>

      <H1>Uitgelichte films:</H1>
      @foreach(var film in Model)
      {
        if (@film.Uitgelicht!= "")
        {
            <a href="/film/@film.Id">
            <img src ="@film.Uitgelicht" class ="uitgelicht">
            </a>
        }
      }<br/><br/>

      <H1>Films:</H1>
        <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
            @foreach(var film in Model)
            {
                <div class="gallery-cell">
                    <a href="/film/@film.Id">
                        <img src ="@film.Poster" class ="films">
                        <h3>@film.Naam</h3>
                    </a>
                </div>
            }
		</div><br><br>

    <H1>Kinderen:</H1>
    <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
            @foreach(var film in Model)
            {
                if (@film.Filmcategorie1 == "3")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                            <img src ="@film.Poster" class ="films">
                            <h3>@film.Naam</h3>
                        </a>
                    </div>
                }

                else if (@film.Filmcategorie2 == "3")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                        <img src ="@film.Poster" class ="films">
                        <h3>@film.Naam</h3>
                    </a>
                </div>
                }
            }
    </div><br/><br/>

    <H1>Actiefilms:</H1>
    <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
            @foreach(var film in Model)
            {
                if (@film.Filmcategorie1 == "2")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                            <img src ="@film.Poster" class ="films">
                            <h3>@film.Naam</h3>
                        </a>
                    </div>
                }

                else if (@film.Filmcategorie2 == "2")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                        <img src ="@film.Poster" class ="films">
                        <h3>@film.Naam</h3>
                    </a>
                </div>
                }
            }
    </div><br/><br/>

    <H1>Drama:</H1>
    <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
            @foreach(var film in Model)
            {
                if (@film.Filmcategorie1 == "7")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                            <img src ="@film.Poster" class ="films">
                            <h3>@film.Naam</h3>
                        </a>
                    </div>
                }

                else if (@film.Filmcategorie2 == "7")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                        <img src ="@film.Poster" class ="films">
                        <h3>@film.Naam</h3>
                    </a>
                </div>
                }
            }
    </div><br/><br/>

    <H1>Comedy films:</H1>
    <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
            @foreach(var film in Model)
            {
                if (@film.Filmcategorie1 == "8")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                            <img src ="@film.Poster" class ="films">
                            <h3>@film.Naam</h3>
                        </a>
                    </div>
                }

                else if (@film.Filmcategorie2 == "8")
                {
                    <div class="gallery-cell">
                        <a href="/film/@film.Id">
                        <img src ="@film.Poster" class ="films">
                        <h3>@film.Naam</h3>
                    </a>
                </div>
                }
            }
    </div><br/><br/>

    <H1>Verwacht:</H1>
        <div class="gallery js-flickity" data-flickity-options='{ "cellAlign": "left", "contain": true , "wrapAround": true, "pageDots": false}'>
		    <div class="gallery-cell"> <a href="/detailpagina"> <img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/02039604_147246.jpg&alt=img/movie_placeholder.png" class="films"><h3>AMBULANCE <br />(24 MAART)</h3></a></div>
            <div class="gallery-cell"> <a href="/detailpagina"> <img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/47043913_146613.jpg&alt=img/movie_placeholder.png" class="films"><h3>MOONFALL <br />(24 MAART)</h3></a></div>
            <div class="gallery-cell"> <a href="/detailpagina"> <img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/15002206_147463.jpg&alt=img/movie_placeholder.png" class="films"><h3>FANTASTIC  BEASTS: THE SECRETS OF DUMBLEDORE <br />(6 APRIL)</h3></a></div>
            <div class="gallery-cell"> <a href="/detailpagina"> <img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/2039522_147051.jpg&alt=img/movie_placeholder.png" class="films"><h3>THE NORTHMAN <br />(14 APRIL)</h3></a></div>
            <div class="gallery-cell"> <a href="/detailpagina"> <img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/02039427_147342.jpg&alt=img/movie_placeholder.png" class="films"><h3>MORBIUS <br />(21 APRIL)</h3></a></div>
            <div class="gallery-cell"> <a href="/detailpagina"> <img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/1.WEBSITE2022/05.%20FILMPOSTERS/Doctor-Strange-in-the-Multiverse-of-Madness_ps_1_jpg_sd-low_Copyright-Marvel-Studios-2022-All-Rights-Reserved.jpg&alt=img/movie_placeholder.png" class="films"><h3>DOCTOR STRANGE IN THE MULTIVERSE OF MADNESS <br />(4 MEI)</h3></a></div>
            <div class="gallery-cell"> <a href="/detailpagina"> <img src="https://www.vuecinemas.nl/thumb?w=268&f=jpg&src=userfiles/image/movies/02035863_140794.jpg&alt=img/movie_placeholder.png" class="films"><h3>TOP GUN MAVERICK <br />(26 MEI)</h3></a></div>
        </div><br><br>

    </div>  
    
    <script src="script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.pkgd.js"></script>
  </body>
